#files.popup * {
    outline: 0; 
    box-sizing: border-box;
}
#files.popup {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--popup__background);
    z-index: 8891;
}
#files.popup .modal {
    position: absolute;
    inset: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: auto;
    padding: 0;
    color: var(--modal__color);
    font-family: system-ui, sans-serif;
    background-color: var(--modal__background);
    border: var(--modal__border_light);
    box-shadow: var(--modal__box-shadow);
    border-radius: var(--modal__border-radius);
    overflow: hidden;
    z-index: 8893;
}
#files.popup .modal_header {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    height: 55px;
    border-bottom: 2px solid var(--modal__border_color_dark);
}
#files.popup .upload-area {
    position: relative;
    padding: 8px 12px;
}
#files.popup [for=upload] {
    display: inline-block;
    padding: 7px 18px;
    background-color: var(--modalBtn__background);
    font-size: 1.125rem;
    font-family: 'Muli', system-ui, sans-serif;
    text-shadow: 1px 1px 1px var(--modalElemt__text-shadow);
    box-shadow: 2px 2px 2px var(--modalElemt__box-shadow);
    border: 1px solid var(--modalBtn__border-color);
    border-radius: 2px;
    user-select: none;
}
#files.popup [for=upload]:hover, #files.popup [for=upload]:active {
    filter: brightness(110%);
}
#files.popup [for=upload]:active {
    box-shadow: none;
}
.upload input[type=file] {
    display: none !important;
}
#files.popup [icon=close].popup_close { /* remove icon padrao popup.js */
    display: none;
}
#files.popup .popup_over {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
}
/**-----------------------------------
 * Altera todo o padrao por um botao e exibe caminho com nome do arquivo */
.filename {
    font-size: 1.05rem;
    color: var(--color);
    font-family: var(--fontMono);
}
#files.popup .controls {
    position: relative;
}
#files.popup .controls [icon=close] {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background-color: transparent;
    border: none;
    border-left: 2px solid var(--modal__border_color_dark);
    box-shadow: 1px 0 #fff inset;
    cursor: pointer;
}
#files.popup .modal_main {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--modal__border_color_light);
}
#files.popup .modal_main::before, #files.popup .modal_main::after {
    display: table;
    content: '';
    clear: both;
}
#callback, #box-insert {
    position: relative;
    height: 100%;
    float: left;
    padding: 10px;
}
#callback {
    width: 60%;
}
#box-insert {
    width: 40%;
}
#box-insert input {
    width: 100%;
    border: 1px solid #999;
    color: #888;
    padding: 5px 11px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}
#inserfile {
    display: block;
    margin: 20px auto 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 7px;
    background-color: var(--modalBtn__background);
    text-shadow: 1px 1px 1px var(--modalElemt__text-shadow);
    border: 1px solid var(--modalBtn__border-color);
    color: var(--color);
    border-radius: 2px;
    user-select: none;
}
#inserfile:hover {
    filter: brightness(90%);
}